* {
    margin: 0;
    padding: 0;
}

.bloc_page
{
    margin-top: 3%;
    text-align: center;
    border: 10px solid#353B41;
    background-color: rgb(184, 172, 154);
    
}
.presentation
{
    background-color: dimgray;
    color: aliceblue;
}

.presentation p
{
    color: aliceblue;
}

.footer h4, p
{
    color: grey;
}
button:not(:disabled)
{
    color: grey;
}
.alert
{
    position: fixed;
    top:0; left:0; right:0;
    z-index: 1060;
    display: none;
}
.chaptitre
{
    background-color: grey;
}
.chaptext
{
    margin-bottom: 5%;
    background-color:rgb(143, 133, 119);
}
.leschapitres
{
    margin-top: 5%;
}
.edition
{
    margin-top: 5%;
    margin-bottom: 5%;
    max-width: 30%;
}
.edition a
{
    margin-left: 20%;
   
}
.formCom
{
    margin-bottom: 5%;
}
.envCom
{
    margin-top: 1%;
}
h5
{
    background-color:rgb(143, 133, 119);
    
}
.commentaire
{
    margin-bottom: 2%;
}
.signale
{
    color: rgb(216, 57, 57); 
}

.modere
{
    color:  rgb(39, 121, 50);
}
input[type=submit]
{
    border: 1 px;
    border-radius: 5px;
    border-color: grey;
    cursor: pointer;
}
@media (max-width: 1200px)
{
    .bloc_page
    {
        margin-block-start: 4%;
    }
    .presentation h1
    {
        font-size: 2em;
    }
    .leschapitres
    {
        font-size: 3em;
    }
}

@media (max-width: 740px)
{
    .bloc_page
    {
        margin-block-start: 7%;
    }
}

@media (max-width: 375px)
{
	.bloc_page
    {
        margin-block-start: 15%;
    }
    .presentation h1
    {
        font-size: 2em;
    }
    .leschapitres
    {
        font-size: 3em;
    }
}    