.bloc_page {
    
    margin: 0;
    padding: 5px;
    border: 5px solid grey;
    background-color: rgb(184, 172, 154);
    
    }

header
{
    background-color: grey;
}

header h1
{
    margin-top: 0.5em;
}


h1, h3
{
    font-family: 'Lato', sans-serif;
    text-align: center;
}

.accueilView
{
    margin-left: 15%;
}

.listPostTemp
{
    margin-left: 15%;
}

.presentation
{
    text-align: center;
}

.listPostView
{
    margin-left: 15%;
}

.commentaire
{
    text-align: center;
}

.formCom
{
    
    margin-left: 39%;
    width: 80%;

}

h3
{
    background-color:rgb(59, 151, 163);
    color:white;
    font-size:1.5em;
    margin-bottom:0px;
}

h3 em
{
    font-size: 0.5em;
}

h5
{
    text-align: center;
    background-color:rgb(143, 133, 119);
    
}
.news article
{
    font-family: 'Dancing Script', cursive;
    background-color:rgb(143, 133, 119);
    margin-top:0px;
    text-align: center;
    font-size: 1.2em;
}

.news article em 
{
    font-family: 'Lato', sans-serif;
}

.news
{
    width:80%;
   
}

a
{
    text-decoration: none;
    color: rgb(2, 15, 202);
    font-size: 0.9em;
}

.sign
{
    color: rgb(63, 50, 33);
}

.sign:hover
{
    text-decoration: none;
    color: rgb(216, 57, 57);
}

.signale
{
    color: rgb(216, 57, 57); 
}

.modere
{
    color:  rgb(39, 121, 50);
}

.menu 
{
    display: flex;
    background-color: grey;
    margin: 0;
}
  
.menu li 
{
    padding:20px;
    list-style-type: none;
}
  
.menu a 
{
    font-family: 'Lato', sans-serif;
    color: rgb(0, 0, 0);
    padding-bottom: 2px;
    font-size: 1.2em;

}
  
.menu a:hover 
{
    color: rgb(76, 218, 228);
}

.menu i 
{
    color: rgb(76, 218, 228);
}

.menuAdmin
{
    display: flex;
    background-color: grey;
    margin: 0;
}

.menuAdmin li 
{
    padding:20px;
    list-style-type: none;
}
  
.menuAdmin a 
{
    font-family: 'Lato', sans-serif;
    color: rgb(0, 0, 0);
    padding-bottom: 2px;
    font-size: 1.2em;

}
  
.menuAdmin a:hover 
{
    color: rgb(76, 218, 228);
}

.menuAdmin i 
{
    color: rgb(76, 218, 228);
}

.modifChapitre
{
    margin-left: 0%;
    background-color: grey;
    
}

.modifChapitre li 
{
    font-size: 0.9em;
    list-style-type: none;
}
  
.modifChapitre a 
{
    font-family: 'Lato', sans-serif;
    color: rgb(0, 0, 0);
    padding-bottom: 2px;
    font-size: 1.2em;

}
  
.modifChapitre a:hover 
{
    color: rgb(76, 218, 228);
}

.modifChapitre i 
{
    color: rgb(76, 218, 228);
}


.alert
{
    position: fixed;
    top:0; left:0; right:0;
    z-index: 1060;
    display: none;
}
.jumbotron
{
    font-size: 3em;
    text-align: center;
    background-color: rgb(160, 160, 160);
    padding: 5px;

}

input[type=submit]
{
    border: 1 px;
    border-radius: 5px;
    border-color: grey;
    cursor: pointer;
}

footer 
{
    background-color: grey;
}

footer .btn
{
    border-color: black;
    margin-top: 2em;
    margin-left: 10em;
}

footer h4
{
    text-align: center;
}

footer img
{
    margin-top: 1em;
}

#socialNetworks
{
    margin-left: 10em;
    margin-top: 3em;
}

.fa-facebook:hover
{
    color:dodgerblue;
}
.fa-twitter:hover
{
    color:deepskyblue;
}


/* -------------------- Media Queries -------------------- */

@media screen and (max-width: 480px) {

.menu li 
{
    font-size: 0.5em;
    padding:20px;
    list-style-type: none;
}

h1
{
    font-size: 2em;
}

.news
{
    width: 99%;
}

.news h3
{
    font-size: 1em;
}

.news h3 em
{
    font-size: 0em;
}

footer img
{
    margin-left: 20%;
    margin-bottom: 10%;
}

footer .btn
{
    margin-left: 35%;
}

#socialNetworks
{
    margin-left: 35%;
    margin-top: 3em;
}

}